In [1]:
import tensorflow as tf

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("J:/Data science/data/insurance.csv")

In [4]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
df.shape

(1338, 7)

In [6]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [7]:
df_on_hot = pd.get_dummies(df)
df_on_hot.head()

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0

In [15]:
x = df_on_hot.drop('charges',axis=1)
y = df_on_hot['charges']

In [16]:
x.head()

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,1,0,0,1,0,0,0,1
1,18,33.770,1,0,1,1,0,0,0,1,0
2,28,33.000,3,0,1,1,0,0,0,1,0
3,33,22.705,0,0,1,1,0,0,1,0,0
4,32,28.880,0,0,1,1,0,0,1,0,0

In [17]:
y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=101)

In [21]:
tf.random.set_seed(42)
model = tf.keras.Sequential([
    tf.keras.layers.Dense(1),
    tf.keras.layers.Dense(1)
])
model.compile(loss=tf.keras.losses.mae,
              optimizer = tf.keras.optimizers.SGD()
              )
model.fit(tf.expand_dims(x_train,axis=-1),y_train, epochs=100)

Epoch 1/100
32/32 [==============================] - 0s 1ms/step - loss: 13363.1152
Epoch 2/100
32/32 [==============================] - 0s 998us/step - loss: 12634.8291
Epoch 3/100
32/32 [==============================] - 0s 1ms/step - loss: 12266.8145
Epoch 4/100
32/32 [==============================] - 0s 1ms/step - loss: 12204.6768
Epoch 5/100
32/32 [==============================] - 0s 946us/step - loss: 12118.1777
Epoch 6/100
32/32 [==============================] - 0s 1ms/step - loss: 11984.7695
Epoch 7/100
32/32 [==============================] - 0s 1ms/step - loss: 11769.8828
Epoch 8/100
32/32 [==============================] - 0s 989us/step - loss: 11407.0156
Epoch 9/100
32/32 [==============================] - 0s 1ms/step - loss: 10881.7695
Epoch 10/100
32/32 [==============================] - 0s 991us/step - loss: 10277.0898
Epoch 11/100
32/32 [==============================] - 0s 955us/step - loss: 9694.3770
Epoch 12/100
32/32 [==============================] - 0s 1ms/step - loss: 9226.4268
Epoch 13/100
32/32 [==============================] - 0s 983us/step - loss: 8948.3291
Epoch 14/100
32/32 [==============================] - 0s 1000us/step - loss: 8740.8945
Epoch 15/100
32/32 [==============================] - 0s 1ms/step - loss: 8687.9551
Epoch 16/100
32/32 [==============================] - 0s 1ms/step - loss: 8739.9922
Epoch 17/100
32/32 [==============================] - 0s 1ms/step - loss: 8665.7871
Epoch 18/100
32/32 [==============================] - 0s 977us/step - loss: 8654.5127
Epoch 19/100
32/32 [==============================] - 0s 1ms/step - loss: 8761.1162
Epoch 20/100
32/32 [==============================] - 0s 1ms/step - loss: 8716.2246
Epoch 21/100
32/32 [==============================] - 0s 2ms/step - loss: 8738.2256
Epoch 22/100
32/32 [==============================] - 0s 1ms/step - loss: 8724.0420
Epoch 23/100
32/32 [==============================] - 0s 1ms/step - loss: 8631.2559
Epoch 24/100
32/32 [==============================] - 0s 1ms/step - loss: 8609.5869
Epoch 25/100
32/32 [==============================] - 0s 1ms/step - loss: 8651.8369
Epoch 26/100
32/32 [==============================] - 0s 954us/step - loss: 8627.0332
Epoch 27/100
32/32 [==============================] - 0s 967us/step - loss: 8676.5020
Epoch 28/100
32/32 [==============================] - 0s 993us/step - loss: 8684.4111
Epoch 29/100
32/32 [==============================] - 0s 1ms/step - loss: 8617.8584
Epoch 30/100
32/32 [==============================] - 0s 1ms/step - loss: 8654.4014
Epoch 31/100
32/32 [==============================] - 0s 960us/step - loss: 8625.7285
Epoch 32/100
32/32 [==============================] - 0s 946us/step - loss: 8688.9248
Epoch 33/100
32/32 [==============================] - 0s 1ms/step - loss: 8591.9707
Epoch 34/100
32/32 [==============================] - 0s 940us/step - loss: 8640.3145
Epoch 35/100
32/32 [==============================] - 0s 1ms/step - loss: 8622.8350
Epoch 36/100
32/32 [==============================] - 0s 1ms/step - loss: 8655.2275
Epoch 37/100
32/32 [==============================] - 0s 1ms/step - loss: 8676.0479
Epoch 38/100
32/32 [==============================] - 0s 1ms/step - loss: 8619.5371
Epoch 39/100
32/32 [==============================] - 0s 1ms/step - loss: 8598.3438
Epoch 40/100
32/32 [==============================] - 0s 1ms/step - loss: 8601.3994
Epoch 41/100
32/32 [==============================] - 0s 1ms/step - loss: 8621.2490
Epoch 42/100
32/32 [==============================] - 0s 1ms/step - loss: 8559.3887
Epoch 43/100
32/32 [==============================] - 0s 1ms/step - loss: 8584.8145
Epoch 44/100
32/32 [==============================] - 0s 1ms/step - loss: 8561.4062
Epoch 45/100
32/32 [==============================] - 0s 1ms/step - loss: 8648.8965
Epoch 46/100
32/32 [==============================] - 0s 1ms/step - loss: 8567.8467
Epoch 47/100
32/32 [==============================] - 0s 1ms/step - loss: 8647.2959
Epoch 48/100
32/32 [==============================] - 0s 1ms/step - loss: 8615.5205
Epoch 49/100
32/32 [==============================] - 0s 813us/step - loss: 8630.6699
Epoch 50/100
32/32 [==============================] - 0s 818us/step - loss: 8642.9746
Epoch 51/100
32/32 [==============================] - 0s 934us/step - loss: 8603.3398
Epoch 52/100
32/32 [==============================] - 0s 920us/step - loss: 8659.8428
Epoch 53/100
32/32 [==============================] - 0s 957us/step - loss: 8564.4766
Epoch 54/100
32/32 [==============================] - 0s 1ms/step - loss: 8582.4775
Epoch 55/100
32/32 [==============================] - 0s 998us/step - loss: 8562.3828
Epoch 56/100
32/32 [==============================] - 0s 1ms/step - loss: 8581.0488
Epoch 57/100
32/32 [==============================] - 0s 1ms/step - loss: 8588.5127
Epoch 58/100
32/32 [==============================] - 0s 893us/step - loss: 8614.8301
Epoch 59/100
32/32 [==============================] - 0s 868us/step - loss: 8557.2129
Epoch 60/100
32/32 [==============================] - 0s 926us/step - loss: 8560.7246
Epoch 61/100
32/32 [==============================] - 0s 774us/step - loss: 8573.3848
Epoch 62/100
32/32 [==============================] - 0s 828us/step - loss: 8564.6836
Epoch 63/100
32/32 [==============================] - 0s 848us/step - loss: 8626.8848
Epoch 64/100
32/32 [==============================] - 0s 796us/step - loss: 8596.3848
Epoch 65/100
32/32 [==============================] - 0s 903us/step - loss: 8582.4707
Epoch 66/100
32/32 [==============================] - 0s 935us/step - loss: 8612.7822
Epoch 67/100
32/32 [==============================] - 0s 866us/step - loss: 8602.2715
Epoch 68/100
32/32 [==============================] - 0s 962us/step - loss: 8559.3291
Epoch 69/100
32/32 [==============================] - 0s 824us/step - loss: 8622.6045
Epoch 70/100
32/32 [==============================] - 0s 866us/step - loss: 8547.8379
Epoch 71/100
32/32 [==============================] - 0s 900us/step - loss: 8569.2959
Epoch 72/100
32/32 [==============================] - 0s 888us/step - loss: 8530.1045
Epoch 73/100
32/32 [==============================] - 0s 1ms/step - loss: 8519.5557
Epoch 74/100
32/32 [==============================] - 0s 892us/step - loss: 8546.7363
Epoch 75/100
32/32 [==============================] - 0s 895us/step - loss: 8541.5352
Epoch 76/100
32/32 [==============================] - 0s 841us/step - loss: 8573.4199
Epoch 77/100
32/32 [==============================] - 0s 796us/step - loss: 8557.6279
Epoch 78/100
32/32 [==============================] - 0s 868us/step - loss: 8519.1367
Epoch 79/100
32/32 [==============================] - 0s 891us/step - loss: 8571.7666
Epoch 80/100
32/32 [==============================] - 0s 876us/step - loss: 8514.8438
Epoch 81/100
32/32 [==============================] - 0s 821us/step - loss: 8567.6621
Epoch 82/100
32/32 [==============================] - 0s 897us/step - loss: 8570.2988
Epoch 83/100
32/32 [==============================] - 0s 1ms/step - loss: 8563.1055
Epoch 84/100
32/32 [==============================] - 0s 1ms/step - loss: 8578.6973
Epoch 85/100
32/32 [==============================] - 0s 1ms/step - loss: 8588.4697
Epoch 86/100
32/32 [==============================] - 0s 1ms/step - loss: 8522.4707
Epoch 87/100
32/32 [==============================] - 0s 917us/step - loss: 8554.4453
Epoch 88/100
32/32 [==============================] - 0s 866us/step - loss: 8517.4219
Epoch 89/100
32/32 [==============================] - 0s 999us/step - loss: 8582.5127
Epoch 90/100
32/32 [==============================] - 0s 1ms/step - loss: 8543.9775
Epoch 91/100
32/32 [==============================] - 0s 997us/step - loss: 8521.5771
Epoch 92/100
32/32 [==============================] - 0s 1ms/step - loss: 8569.1523
Epoch 93/100
32/32 [==============================] - 0s 795us/step - loss: 8556.0166
Epoch 94/100
32/32 [==============================] - 0s 896us/step - loss: 8540.6797
Epoch 95/100
32/32 [==============================] - 0s 857us/step - loss: 8508.9033
Epoch 96/100
32/32 [==============================] - 0s 796us/step - loss: 8569.3701
Epoch 97/100
32/32 [==============================] - 0s 817us/step - loss: 8537.6846
Epoch 98/100
32/32 [==============================] - 0s 867us/step - loss: 8514.2578
Epoch 99/100
32/32 [==============================] - 0s 731us/step - loss: 8562.6025
Epoch 100/100
32/32 [==============================] - 0s 997us/step - loss: 8533.9141

In [22]:
model.evaluate(x_test,y_test)

11/11 [==============================] - 0s 1ms/step - loss: 8008.3569

8008.35693359375